@font-face {
	font-family:oswald;
	src:url(https://cdn.jsdelivr.net/gh/imyolen/blog@1.0/font/webmo.woff2)
}
body {
	font-family:oswald!important;
}
@font-face {
  font-family: 'iconfont';  /* project id 1727363 */
  src: url('//at.alicdn.com/t/font_1727363_f5963ob0f47.eot');
  src: url('//at.alicdn.com/t/font_1727363_f5963ob0f47.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1727363_f5963ob0f47.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1727363_f5963ob0f47.woff') format('woff'),
  url('//at.alicdn.com/t/font_1727363_f5963ob0f47.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1727363_f5963ob0f47.svg#iconfont') format('svg');
}
.iconfont {
	font-family:"iconfont" !important;
	font-style:normal;
	-webkit-font-smoothing:antialiased;
	-webkit-text-stroke-width:0.2px;
	-moz-osx-font-smoothing:grayscale;
	font-size:17px
}
.popover_faces>img {
	width:30px
}
.cmt_faces {
	width:30px
}
.bilibili {
	position:relative;
	width:100%
}
@media only screen and (max-width:767px) {
	.bilibili {
	height:15em;
	max-width:25em
}
}@media only screen and (min-width:768px) and (max-width:991px) {
	.bilibili {
	height:20em;
	max-width:30em
}
}@media only screen and (min-width:992px) and (max-width:1199px) {
	.bilibili {
	height:30em;
	max-width:40em
}
}@media only screen and (min-width:1200px) {
	.bilibili {
	height:40em;
	max-width:50em
}
}.pf_user_info .authorImg {
	box-shadow:0 10px 13px rgba(0,0,0,0.1),0 0 1px rgba(0,0,0,0.1)
}
.comment-input:hover {
	background:#fff;
	border:1px solid #20a0ff;
	outline:medium
}
.post-copyright {
	margin-bottom:20px;
	margin-top:20px;
	border-radius:13px;
	padding:20px;
	color:#666;
	background-color:#f8f8f8;
	line-height:1.5em;
	position:relative
}
.iconfont-copyright {
	position:absolute;
	top:-10px;
	left:13px;
	font-size:20px;
	background:#f8f8f8;
	color:#666;
	border-radius:100%;
	text-align:center;
	line-height:24px;
	padding:2px;
	height:30px;
	width:30px;
	border:1px solid #f8f8f8
}
